





































/*start of the CSS*/


#navBox {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: grey;
    align-items: center;

    
}

#navBox h1 {
    background-color: lightblue;
    font-size: 45px;
    font-weight: bold;
}

#linkBox {
    float: right;
    margin-right: 80px;
}

#navBox ul li {
    display: inline;
    margin: 30px;
    font-size: 25px;
}

#navBox ul li a {
    color: lightblue;
    text-decoration: underline;
    font-weight: bold;
}




#back-img {
    display: flex;
    height: 200px;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../public/images/computer-cogs-technology-background-blue-banner-old-new-using-circuits-old-machine-31582628.jpg);

}

#back-img h2 {
    margin-bottom: 20px;
    margin-right: 150px;
    background-color: lightblue;
}





#content-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: auto;
}




/*Left Box*/
#smallBox {
    grid-column: 1/1;
}

#smallBox div{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}






/*Right Box*/
#bigBox {
    display: block;
    grid-column: 2/2;
}

#b-t-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-left: solid 2px lightblue;
}

#b-t-1 h1 {
    position: relative;
    height: 0px;
    right: 180px;
    color: grey;
}

#b-t-1 p{
    word-wrap: break-word;
    flex-wrap: wrap;
    margin-left: 20px;
}





#b-t-2 {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-left: solid 2px lightblue;
}

#b-t-2 h1 {
    width: 100%;
    position: relative;
    height: 0px;
    right: 100px;
    color: grey;
}

#b-t-2 .colorBox-l {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: solid 10px lightblue;
    margin: 20px;

}

#b-t-2 .colorBox-l h2 {
    position: absolute;
    background-color: lightblue;
    z-index: 1;
}



#b-t-2 .colorBox-s {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 20px;
    border: solid 10px lightblue;

}

#b-t-2 .colorBox-s h2 {
    position: absolute;
    background-color: lightblue;
    z-index: 1;
    font-size: 18px;
}

.large-box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 400px;
    width: 820px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../public/images/WcjD8G.jpg);
    opacity: 70%;
    transition: opacity 0.75s;
}

.large-box:hover {
    opacity: 100%;
}


.small-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 380px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 70%;
    transition: opacity 0.75s;
}


.small-box:hover {
    opacity: 100%;
}



#s-img-1 {
    background-image: url(../public/images/download.jpg);

}

#s-img-2 {
    background-image: url(../public/images/images-1.jpg);
}

#s-img-3 {
    background-image: url(../public/images/nature-chrome-featured.jpg);
    
}

#s-img-4 {
    background-image: url(../public/images/download-3.jpg);
    
}






#b-t-3 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    height: 80px;
    flex-wrap: wrap;
    align-items: center;
    border-left: solid 2px lightblue;

    
}

#b-t-3 h1 {
    width: 100%;
    height: 0;
    position: relative;
    right: 210px;
    color: grey;
}


#b-t-3 ul li {
    display: inline;
    margin: 30px;
}

#b-t-3 ul li a {
    color: grey;
    text-decoration: underline;
    font-weight: bold;
}



@media screen and (max-width: 1337px) {

    .small-box {
        width: 290px;
    }

    .large-box{
        width: 660px;
    }


}

@media screen and (max-width: 1091px) {

    #navBox ul li {
        display: inline;
        margin: 18px;
        font-size: 20px;
    }

    #navBox h1 {
        background-color: lightblue;
        font-size: 35px;
        font-weight: bold;
    }
}


@media screen and (max-width: 1068px) {
    .large-box h2 {
        font-size: 20px;
        background-color: lightblue;
    }

    .small-box h2 {
        font-size: 10px;
        background-color: lightblue;
    }

    #b-t-3 {
        margin-top: 60px;
    }

    #b-t-3 ul li {
        display: inline;
        margin: 10px;
    }

    .large-box{
        height: 300px;
        width: 600px;
    }
    
    .small-box{
        width:  250px; 
        height: 150px;
    }
}


@media screen and (max-width: 900px) {
    #b-t-1 h1 {
        right: 150px;
    }
    #b-t-2 h1 {
        right: 100px;
    }
    #b-t-3 h1 {
        right: 190px;
    }
}


@media screen and (max-width: 800px) {
    #navBox h1 {
        background-color: lightblue;
        font-size: 30px;
        font-weight: bold;
    }
    #navBox ul li {
        display: inline;
        margin: 10px;
        font-size: 20px;
    }

    #back-img h2 {
        margin-right: 100px;
        background-color: lightblue;
    }

    #b-t-3 {
        margin-top: 60px;
    }

    #b-t-3 ul li {
        display: inline;
        margin: 10px;
    }
    .large-box{
        height: 200px;
        width: 400px;
    }
    
    .small-box{
        width:  140px; 
        height: 100px;
    }

    #b-t-2 .colorBox-l {
        margin: 20px;
        border: solid 6px lightblue;
    
    }
    
    #b-t-2 .colorBox-s {
        margin: 20px;
        border: solid 6px lightblue;
    
    }



    #b-t-3 ul li {
        display: inline;
        margin: 2px;
    }
    
    #b-t-3 ul li a {
        color: grey;
        text-decoration: underline;
        font-weight: bold;
        font-size: 12.5px;
    }
}


@media screen and (max-width: 712px) {
    #navBox ul li {
        display: inline;
        margin: 5px;
        font-size: 20px;
    }

    #b-t-1 h1 {
        right: 150px;
    }
    #b-t-2 h1 {
        right: 90px;
    }
    #b-t-3 h1 {
        right: 170px;
    }


    #b-t-2 .colorBox-l h2 {
        position: absolute;
        background-color: lightblue;
        z-index: 1;
        font-size: 18px;
    }

    #b-t-2 .colorBox-s h2 {
        position: absolute;
        background-color: lightblue;
        z-index: 1;
        font-size: 9px;
    }

}

@media screen and (max-width: 650px) {
    #navBox ul li {
        display: inline;
        margin: 5px;
        font-size: 15px;
    }

    #back-img h2 {
        margin-right: 50px;
        background-color: lightblue;
    }

    .large-box{
        height: 150px;
        width: 300px;
    }
    
    .small-box{
        width:  120px; 
        height: 77px;
    }

    #b-t-3 {
        margin-top: 25px;
        height: 80px;  
    }

    #b-t-3 ul li {
        display: inline;
        margin: 5px;
    }
    
    #b-t-3 ul li a {
        color: grey;
        text-decoration: underline;
        font-weight: bold;
        font-size: 9px;
    }
}

@media screen and (max-width: 600px) {
    #navBox ul li {
        display: inline;
        margin: 5px;
        font-size: 14px;
    }

    #b-t-3 {
        margin-top: 25px;
        height: 80px;  
    }

    #b-t-3 ul li {
        display: inline;
        margin: 2px;
    }
    
    #b-t-3 ul li a {
        color: grey;
        text-decoration: underline;
        font-weight: bold;
        font-size: 8px;
    }

    #b-t-2 .colorBox-l {
        margin: 20px;
        border: solid 3px lightblue;
    
    }
    
    #b-t-2 .colorBox-s {
        margin: 20px;
        border: solid 3px lightblue;
    
    }
}


@media screen and (max-width: 550px) {
    #navBox ul li {
        display: inline;
        margin: 3px;
        font-size: 12px;
    }
    .large-box{
        height: 100px;
        width: 200px;
    }

    .large-box h2 {
        font-size: 16px;
        background-color: lightblue;
    }
    
    .small-box{
        width:  90px; 
        height: 70px;
    }

    .small-box h2 {
        font-size: 8px;
        background-color: lightblue;
    }

    #b-t-1 h1 {
        right: 150px;
    }
    #b-t-2 h1 {
        right: 90px;
    }
    #b-t-3 h1 {
        right: 160px;
    }



    #b-t-3 {
        margin-top: 23px;
        height: 80px;  
    }

    #b-t-3 ul li {
        display: inline;
        margin: 2px;
    }
    
    #b-t-3 ul li a {
        color: grey;
        text-decoration: underline;
        font-weight: bold;
        font-size: 8px;
    }
}


@media screen and (max-width: 547px) {
    #navBox ul li {
        display: inline;
        margin: 3px;
        font-size: 12px;
    }
    .large-box{
        height: 100px;
        width: 200px;
    }

    .large-box h2 {
        font-size: 16px;
        background-color: lightblue;
    }
    
    .small-box{
        width:  90px; 
        height: 70px;
    }

    .small-box h2 {
        font-size: 8px;
        background-color: lightblue;
    }



    #b-t-3 {
        margin-top: 23px;
        height: 80px;  
    }

    #b-t-3 ul li {
        display: inline;
        margin: 2px;
    }
    
    #b-t-3 ul li a {
        color: grey;
        text-decoration: underline;
        font-weight: bold;
        font-size: 8px;
    }
}


@media screen and (max-width: 500px) {
    .large-box{
        height: 120px;
        width: 240px;
    }
    
    .small-box{
        width:  90px; 
        height: 70px;
    }

    #b-t-3 {
        margin-top: 25px;
        height: 80px;  
    }

    #b-t-3 ul li {
        display: inline;
        margin: 2px;
    }
    
    #b-t-3 ul li a {
        color: grey;
        text-decoration: underline;
        font-weight: bold;
        font-size: 8px;
    }
}

